.grid {
    display: grid;
    gap: var(--sp-lg-5);
    
}
.my-team {
    grid-area: my-team;
}
.messages {
    grid-area: messages;
}
.my-work {
    grid-area: my-work;
}

.project-1 {
    grid-area: project-1;
}
.project-2 {
    grid-area: project-2;
}
.project-3 {
    grid-area: project-3;
}
.my-day {
    grid-area: my-day;
}
